<div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"><b>Complaints</b></h3>
               <div class="col-md-3">
            <b><%= link_to '+New Complaint', new_complaint_path, :class =>"btn btn-success", :remote => true %></b>
  
              </div>
             
            </div>
           <div class="row">
              <div class="col-12 grid-margin stretch-card">
               
    <div class="card" style="width: 25rem; background-color: #b3f0ff;">
        <div class="card-header">
          Complaint By : <b><%= @complaint.user_name %></b>
          
        </div>
       <div class="card-body">
        <p class="card-text">Complaint : <%= @complaint.try(:complaint) %></p>
        <p class="card-text">Nature&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp; <%= @complaint.try(:nature) %></p>
        <p class="card-text">Action &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp; <%= @complaint.try(:action) %></p>
        <p class="card-text">Method &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp; <%= @complaint.try(:method) %></p>
      </div>
      <div class="card-footer">
        <div class="row">
      <div class="col-6">
        <a href="#" class="card-link"><%= @complaint.created_at.in_time_zone("Asia/Muscat").strftime('%d %B %Y, %H:%M') %></a>
      </div>
        <div class="col-2">
          <%= button_to complaint_path(@complaint), :method => :delete, :remote => true, data: {confirm: "Are you sure you want to delete this?"}, :class => "btn btn-primary" do %><i class="fa fa-trash"></i><% end %>
          </div>
          </div>
          
       </div>
      </div>

              </div>
          </div>
        </div>
      </div>

