<div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"><b>Complaints</b></h3>
               <div class="col-md-8">
            <%= link_to '+ Add New Complaint', new_complaint_path, :class =>"btn btn-success", :remote => true %>
  
              </div>
             
            </div>
           <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                   
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Complaint</th>
                            <th>Nature</th>
                            <th>Action</th>
                            <th>Method</th>
                            <th>Created_at</th>
                          </tr>
                        </thead>
                        
    <tbody>
      
        <tr id='complaints_ROW_<%= @complaint.id %>'>
         <td>
            <span><%= @complaint.id %></span>
          </td> 
          <td>
            <span><%= @complaint.try(:complaint) %></span>
          </td>
          <td>
            <span><%= @complaint.try(:nature) %></span>
          </td>
          
          <td>
            <span><%= @complaint.try(:action) %></span>
          </td>
         
          <td>
            <span><%= @complaint.try(:method) %></span>
          </td>
          <td>
            <span><%= @complaint.created_at.in_time_zone("Asia/Muscat").strftime('%d %B %Y, %H:%M') if @complaint.created_at %></span>
          </td>
          
        </tr>
    </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

