<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"><b>Bookings</b></h3>
        <div class="col-md-4">
          <%= link_to '+ Add New Booking', new_booking_path, :class =>"btn btn-success", :remote => true %>
        </div>
      </div>
        <%= render partial: 'bookings/index/controls' %>

      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
               <!-- <table class="table">
                  <thead style="background-color: #1294a3; color: white;">
                    <tr>
                      <th>ID</th>
                      <th>Booking By</th>
                      <th>Created_at</th>
                      <th style="align-content: center;">Action</th>
                      <th></th>
                        <th></th>
                    </tr>
                  </thead>
      
                  <tbody >
                    <% @bookings.each_with_index do |booking, i| %>
                      <tr id='bookings_ROW_<%= booking.id %>'>
                        <td>
                          <span><%= i+1 %></span>
                        </td>
                        <td>
                          <span><%= booking.user_name %></span>
                        </td>
                        
                        <td>
                          <span><%= booking.created_at.in_time_zone("Asia/Muscat").strftime('%d %B %Y, %H:%M') if booking.created_at %></span>
                        </td>
                        <td>
                          <%= button_to booking_path(booking),:method => :get, :class => "btn-success" do %><i class="fa fa-eye"></i><% end %>
                        </td>
                        <td><%= button_to edit_booking_path(booking), :method => :get, :remote => true, :class => "btn-success" do %><i class="fa fa-edit"></i><% end %>
                        </td>
                        <td><%= button_to booking_path(booking), :method => :delete, :remote => true, data: {confirm: "Are you sure you want to delete this?"}, :class => "btn-danger" do %><i class="fa fa-trash"></i><% end %>     </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>-->

              <%= render partial: 'bookings/index/table' %>
             

              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


 <%= content_for :javascript_footer do %>
                <%= render :partial=>"bookings/index/table.js.erb"  %>
              <% end %>