<div class="main-panel">

            <div class="row" style="width: 1000px; padding: 10px; ">
              <div class="col-12 grid-margin stretch-card" >

               <div class="card" style="background-color: #475CB8;">
                 <div class="card-body">
                  </div>
                  <div class="row" style="padding-left: 30px;">
                    <div class="col-3 grid-margin stretch-card" style="padding-left: 20px;">
                    <div class="row">
                      <div class="card" style="background-color: #475CB8;height: 280px;width: 220px;" >
                        <div class="card-header"  style="color: white;background-color: #996600;">
                          Resident
                        </div>
                        <div class="card-body" style="align-items: center;">
                        <p class="card-description"> <u> <%= link_to "Resident Records", residents_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Support Plan", support_plans_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "RSA", residents_agreements_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Incident Reports", incidents_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Transfer Forms", transfer_forms_path ,:style => "color :white;" %>
                        </u></p>
                      </div>
                    </div><br>
                    <div class="row" style="padding-left: 15px;padding-top: 5px;">

                      <div class="card" style="background-color: #475CB8;height: 300px;width: 220px;" >
                        <div class="card-header"  style="color: white;background-color: #996600;">
                          Charts
                        </div>
                        <div class="card-body" style="align-items: center;">
                        <p class="card-description"> <u> <%= link_to "Behaviour Charts", residents_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Bowel Chart", residents_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Turn & Reposition Log", residents_agreements_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Wieght-BSL's-BP", residents_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Wound Register", residents_path ,:style => "color :white;" %>
                        </u></p>
                      </div>
                        

                    </div>
                    </div>
                        
                     </div>

                    </div>
                    <div class="col-3 grid-margin stretch-card" >
                      <div class="row" style="padding-left: 15px;">

                      <div class="card" style="background-color: #475CB8;" style="padding: 10px;height: px;">
                        <div class="card-header"  style="color: white;background-color: #996600;">
                          Office
                        </div>
                        <div class="card-body" style="align-items: center;">
                        <p class="card-description"> <u> <%= link_to "Bookings", bookings_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Complaints", complaints_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Files", residents_agreements_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Contact List", residents_agreements_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Fax Cover Sheet", residents_agreements_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Invoices", residents_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Letters", residents_path ,:style => "color :white;" %>
                        </u></p>
                      </div>
                        
                     </div>     
                         <div class="col-3 grid-margin stretch-card" style="padding-left: 20px;">
                      <div class="row" style="padding-left: 20px;">

                      <div class="card" style="background-color: #475CB8;height: 200px;width: 230px;" >
                        <div class="card-header"  style="color: white;background-color: #996600;">
                          Apppintments
                        </div>
                        <div class="card-body" style="align-items: center;">
                        <p class="card-description"> <u> <%= link_to "Apppintments", residents_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Doctor", residents_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Recurring Apps", residents_agreements_path ,:style => "color :white;" %>
                        </u></p>   
                        
                     </div>
                        
                     </div><br>
                     <div class="row" style="padding-top: 20px;padding-left: 15px;">
                        <div class="card" style="background-color: #475CB8; height: 200px; width: 230px;" >
                        <div class="card-header"  style="color: white;background-color: #996600;">
                          Medication
                        </div>
                        <div class="card-body" style="align-items: center;">
                        <p class="card-description"> <u> <%= link_to "Dialy Chart", residents_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Prescribed", residents_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Non Prescribed", residents_agreements_path ,:style => "color :white;" %>
                        </u></p>
                        
                        
                     </div>
                   </div><br>
                        
              

                    </div>

                    </div>
            
                  </div><br><br>
                     <div class="card" style="background-color: #475CB8; height: 200px;width: 400px;">
                        <div class="card-header"  style="color: white;background-color: #996600;">
                          Admin
                        </div>
                        <div class="card-body" style="align-items: left;">
                          <div class="row">
                            <div class="col-6">
                              <p class="card-description"> <u> <%= link_to "Staff Records", residents_path ,:style => "color :white;" %>
                              </u></p>
                              <p class="card-description"> <u> <%= link_to "Staff Review", residents_path ,:style => "color :white;" %>
                              </u></p>
                              <p class="card-description"> <u> <%= link_to "Meeting", residents_agreements_path ,:style => "color :white;" %>
                              </u></p>
                            </div>
                             <div class="col-6">
                              <p class="card-description"> <u> <%= link_to "Log Audit Page", residents_path ,:style => "color :white;" %>
                              </u></p>
                              <p class="card-description"> <u> <%= link_to "Edit Roaster", residents_path ,:style => "color :white;" %>
                              </u></p>
                              <p class="card-description"> <u> <%= link_to "CPR Due Report", residents_agreements_path ,:style => "color :white;" %>
                              </u></p>
                            </div>
            
                            
                          </div>

                        
                      </div>
                    </div>

                    </div>

               

                    <div class="col-3 grid-margin stretch-card" style="padding-left: 30px;">
                      <div class="row" style="padding-right: 20px;padding-left: 50px;">

                      <div class="card" style="background-color: #475CB8;height: 270px;width: 215px; " >
                        <div class="card-header"  style="color: white;background-color: #996600;">
                          Staff
                        </div>
                        <div class="card-body" style="align-items: center;">
                        <p class="card-description"> <u> <%= link_to "Read Handover", residents_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Create Handover", residents_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Create Private Messages", residents_agreements_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "View Roaster", residents_agreements_path ,:style => "color :white;" %>
                        </u></p>
                        
                     </div>
                        
                     </div><br>
                     <div class="row" style="padding-top: 20px;padding-left: 15px;">
                        <div class="card" style="background-color: #475CB8;height: 350px;width: 215px; " >
                        <div class="card-header"  style="color: white;background-color: #996600;">
                          Reports
                        </div>
                        <div class="card-body" style="align-items: center;">
                        <p class="card-description"> <u> <%= link_to "Bed List", residents_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Incident History", residents_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Complaint History ", residents_agreements_path ,:style => "color :white;" %>
                        </u></p>
                        <p class="card-description"> <u> <%= link_to "Progress Note", residents_agreements_path ,:style => "color :white;" %>
                        </u></p>
                          <p class="card-description"> <u> <%= link_to "Resident Details", residents_agreements_path ,:style => "color :white;" %>
                        </u></p>
                         <p class="card-description"> <u> <%= link_to "Resident Summary", residents_agreements_path ,:style => "color :white;" %>
                        </u></p>
                        
                     </div>
                   </div><br>
                        
                     </div>

                    </div>

                    </div>
            
                  </div>
 
                    
            </div><br><br>
            </div>
            </div>
          </div>

          
                <!--browser stats ends-->
             
          </div>