<div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"><b>Resident Record </b></h3>
               <div class="col-md-4">
            <%= link_to '+ Add New Resident Record', new_resident_path, :class =>"btn btn-success", :remote => true %>
  
              </div>
             
            </div>
           <div class="row">
              <div class="col-12 grid-margin stretch-card">
              	<div class="card">
                  <div class="card-body">
     				 <form class="forms-sample">
              <% if @resident.image.attached? %>
                <%= image_tag @resident.image.variant(resize: "100 x100")%>
              <% end %>
                   <div class="row">

                <div class="col-md-6">

                   <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Surname</label>
                        <div class="col-sm-9">
                              <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.surname %></label>
                                                       </div>
                      </div>
                    </div>
                    

                       <div class="col-md-6">

                   <div class="form-group row">
                        <label class="col-sm-3 col-form-label">First Name</label>
                        <div class="col-sm-9">
                             <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.fname %></label>
                                                      </div>
                      </div>
                    </div>
                  </div>
                     <div class="row">

                       <div class="col-md-6">

                   <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Middle Name</label>
                        <div class="col-sm-9">
                             <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.mname %></label>
                                                      </div>
                      </div>
                    </div>
                       <div class="col-md-6">

                   <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Preferred Name</label>
                        <div class="col-sm-9">
                             <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.prefered_name %></label>
                                                       </div>
                      </div>
                    </div>
                  </div>
                   <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-9">
                              <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.gender %></label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                             <label class="col-sm-3 col-form-label">Room No</label>
                            <div class="col-sm-9">
                              <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.room_no %></label>
                            </div>
                          </div>
                        </div>
                      </div>
                     <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Fee Accomodation and Service</label>
                            <div class="col-sm-9">
                            <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.fee %></label>
                                                      </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                             <label class="col-sm-3 col-form-label">Bed</label>
                            <div class="col-sm-9">
                              <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.bed %></label>

                            </div>
                          </div>
                        </div>
                      </div>
                     <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                             <label class="col-sm-3 col-form-label">Pay Frequency</label>
                            <div class="col-sm-9">
                              <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.pay_frequency %></label>
                             
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date of Birth</label>
                            <div class="col-sm-9">
                             <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.dob %></label>
                                                      </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">

                       <div class="col-md-6">
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label">How to pay</label>
                            <div class="col-sm-9">
                              <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.payment_via %></label>
                            </div>
                          </div>
                        </div>  
                        <div class="col-md-6">
                          <div class="form-group row">
                           <label class="col-sm-3 col-form-label">Date of Arrival</label>
                            <div class="col-sm-9">
                             <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.arrival_date %></label>
                                                      </div>
                          </div>
                        </div>
                      </div>
                    <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Administrator(Including Contact details,Ref no)</label>
                            <div class="col-sm-9">
                             <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.admin %></label>
                                                        </div>
                            </div>
                          </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Person No/Type</label>
                            <div class="col-sm-9">
                             <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.person_type %></label>
                                                       </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Guardian(Including contact details)</label>
                            <div class="col-sm-9">
                             <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.guardian %></label>
                                                      </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nationality</label>
                            <div class="col-sm-9">
                             <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.nationality %></label>
                                                      </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Other Health Service Provoder(Including contact details)</label>
                            <div class="col-sm-9">
                              <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.health_service %></label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                             <label class="col-sm-3 col-form-label">Marital Status</label>
                            <div class="col-sm-9">
                              <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.marital_status %></label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Case Manager</label>
                            <div class="col-sm-9">
                              <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.case_manager %></label>
                                                       </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Language Spoken</label>
                            <div class="col-sm-9">
                             <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.language_spoken %></label>
                                                        </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Medical Practioner(Including Contact Details)</label>
                            <div class="col-sm-9">
                             <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.medical_practioner %></label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Next of kin(including contact details)</label>
                            <div class="col-sm-9">
                              <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.next_kin %></label>
                                                       </div>
                          </div>
                        </div>
                      </div>
                       <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date of Departure</label>
                            <div class="col-sm-9">
                              <br><label for="exampleInputPersonal">:&nbsp;&nbsp;<%= @resident.departure_date %></label>

                            </div>
                          </div>
                        </div>
                      </div>
                      
                      </div>
                      </div>
            
                      
                     </form>
                  </div>
              </div>

              </div>
          </div>
      </div>
  </div>
