 <%= form_with(model: @resident, remote: true , class: "forms-sample") do |f| %>
                      <div class="row">

                        <div class="col-md-6">

                   <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Surname</label>
                        <div class="col-sm-9">
                              <br><%= f.text_field :surname, :class => "form-control", placeholder:"Surname" %>
                            </div>
                      </div>
                    </div>
                    

                       <div class="col-md-6">

                   <div class="form-group row">
                        <label class="col-sm-3 col-form-label">First Name</label>
                        <div class="col-sm-9">
                             <br><%= f.text_field :fname, :class => "form-control", placeholder:"First Name" %>
                            </div>
                      </div>
                    </div>
                  </div>
                     <div class="row">

                       <div class="col-md-6">

                   <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Middle Name</label>
                        <div class="col-sm-9">
                             <br><%= f.text_field :mname, :class => "form-control", placeholder:"Middle Name" %>
                            </div>
                      </div>
                    </div>
                       <div class="col-md-6">

                   <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Preferred Name</label>
                        <div class="col-sm-9">
                             <br><%= f.text_field :prefered_name, :class => "form-control", placeholder:"Preferred Name" %>
                            </div>
                      </div>
                    </div>
                  </div>
                   <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-9">
                              <br><%= f.select :gender, options_for_select([["Select gender", ""], "Male", "Female"]), :class => 'form-control' %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                             <label class="col-sm-3 col-form-label">Room No</label>
                            <div class="col-sm-9">
                              <br><%= f.select :room_no, options_for_select([["Select Room No", ""], "1", "2","3","4","5"]), :class => 'form-control' %>
                            </div>
                          </div>
                        </div>
                      </div>
                     <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Fee Accomodation and Service</label>
                            <div class="col-sm-9">
                            <br><%= f.text_field :fee, :class => "form-control", placeholder:"Fee Accomodation and Service" %>                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                             <label class="col-sm-3 col-form-label">Bed</label>
                            <div class="col-sm-9">
                              <br><%= f.select :bed, options_for_select([["Select Bed No", ""], "1", "2","3","4","5"]), :class => 'form-control' %>
                            </div>
                          </div>
                        </div>
                      </div>
                     <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                             <label class="col-sm-3 col-form-label">Pay Frequency</label>
                            <div class="col-sm-9">
                              <br><%= f.select :pay_frequency, options_for_select([["Select Pay Frequency", ""], "Fortnighty"]), :class => 'form-control' %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date of Birth</label>
                            <div class="col-sm-9">
                             <br><%= f.text_field :dob, :class => "form-control", placeholder:"dd/mm/yyyy" %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">

                       <div class="col-md-6">
                          <div class="form-group row">
                          <label class="col-sm-3 col-form-label">How to pay</label>
                            <div class="col-sm-9">
                              <br><%= f.select :payment_via, options_for_select([["Select Payment", ""], "EFT-STATE  TRUSTEES"]), :class => 'form-control' %>
                            </div>
                          </div>
                        </div>  
                        <div class="col-md-6">
                          <div class="form-group row">
                           <label class="col-sm-3 col-form-label">Date of Arrival</label>
                            <div class="col-sm-9">
                             <br><%= f.text_field :arrival_date, :class => "form-control", placeholder:"dd/mm/yyyy" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Administrator(Including Contact details,Ref no)</label>
                            <div class="col-sm-9">
                             <br><%= f.text_field :admin, :class => "form-control", placeholder:"Administrator" %>
                              </div>
                            </div>
                          </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Person No/Type</label>
                            <div class="col-sm-9">
                             <br><%= f.text_field :person_type, :class => "form-control", placeholder:"Person No/Type" %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Guardian(Including contact details)</label>
                            <div class="col-sm-9">
                             <br><%= f.text_field :guardian, :class => "form-control", placeholder:"Guardian" %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nationality</label>
                            <div class="col-sm-9">
                             <br><%= f.text_field :nationality, :class => "form-control", placeholder:"Nationality" %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Other Health Service Provoder(Including contact details)</label>
                            <div class="col-sm-9">
                              <br><%= f.text_field :health_service, :class => "form-control", placeholder:"Other Health Service Provoder" %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                             <label class="col-sm-3 col-form-label">Marital Status</label>
                            <div class="col-sm-9">
                              <br><%= f.select :marital_status, options_for_select([["Select Marital Status"], "Single","Married"]), :class => 'form-control' %>                              
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Case Manager</label>
                            <div class="col-sm-9">
                              <br><%= f.text_field :case_manager, :class => "form-control", placeholder:"Case Manager" %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Language Spoken</label>
                            <div class="col-sm-9">
                             <br><%= f.text_field :language_spoken, :class => "form-control", placeholder:"Language Spoken" %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Medical Practioner(Including Contact Details)</label>
                            <div class="col-sm-9">
                             <br><%= f.text_field :medical_practioner, :class => "form-control", placeholder:"Medical Practioner" %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Next of kin(including contact details)</label>
                            <div class="col-sm-9">
                              <br><%= f.text_field :next_kin, :class => "form-control", placeholder:"Next of kin" %>
                            </div>
                          </div>
                        </div>
                      </div>
                       <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date of Departure</label>
                            <div class="col-sm-9">
                              <br><%= f.text_field :departure_date, :class => "form-control", placeholder:"Date of Departure" %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Upload Your Photo</label>
                            <div class="col-sm-9">
                               <br><%= f.file_field :image, :class => "form-controll" %>
                            </div>
                          </div>
                        </div>
                      </div>
                     
                       <div class="row">

                        <div class="col-md-6">
                         <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                      <button class="btn btn-light">Cancel</button>
                        </div>
                      </div>
                      </div>
                      </div>
                      
                   <% end %>  