<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/home/head' %>

  <body style="background-color: #e8e3d5;">
    <div class="container-scroller">
	  
	  <%= render partial: 'layouts/home/header' %>

	  <%= yield %>
       
	  <%= render partial: 'layouts/home/footer' %>
	  </div>
	  <%= render partial: 'layouts/common/script' %>

	


	 <%= javascript_include_tag 'https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js' %>
<script type="text/javascript">

      <%= yield :javascript_footer -%>
    </script>

  </body>
</html>
